mat-form-field,
textarea{
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  width: 70%;
  margin: auto;
  background-color: black;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
