<mat-toolbar color="grey">
    <ul>
        <li>
            <!--using the angular routing directive instead of the usual href-->
            <a mat-button routerLink="/create">Create</a>
            <a mat-button routerLink="/browse">MyList</a>
            <a mat-button routerLink="/shops">Ink Shops</a>
            <a mat-button routerLink="/artists">Ink Artists</a>
        </li>
    </ul>
    <span class="space"></span>
    <ul>
        <li>
            <!--using the angular routing directive instead of the usual href-->
            <a mat-button routerLink="/login">Login</a>
            <a mat-button routerLink="/signup">Sign Up</a>
        </li>
    </ul>
    <span><a routerLink = "/">InkedIn</a></span>
</mat-toolbar>
