<mat-toolbar>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <!--using the angular routing directive instead of the usual href-->
            <a mat-button routerLink="/create">Create</a>
            <!--<a mat-button routerLink="/browse">Carousel</a>-->
        </li>
        <li>
            <a mat-button routerLink="/">Browse</a>
        </li>
    </ul>
    <span class="space"></span>
    <ul>
        <li *ngIf="!userIsAuthenticated">
            <!--using the angular routing directive instead of the usual href-->
            <a mat-button routerLink="/login">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/signup">Sign Up</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Logout</button>
        </li>
    </ul>
    <span><a routerLink = "/">Tatt-whoo</a></span>
</mat-toolbar>
