
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!--the ngForm local reference allows access to the underlying angular form object-->
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput
        ngModel
        type="email"
        name="email"
        required
        placeholder="Email Address:"
        #emailInput="ngModel"
        required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field>
      <!--the matInput tag allows the use of the angular input field directive-->
        <input name="password" type="password" ngModel required matInput placeholder="Password:" #passwordInput>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="warn"
        type="submit"
        *ngIf="!isLoading">Login
      </button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </mat-card>
  
  
  