mat-form-field,
input{
  width: 100%;
}

mat-card {
  width: 320px;
  margin: auto;
}

mat-spinner {
  margin: auto;
}

.tattooImage {
    height: 100vh; 
    background-size: cover; 
    width: auto;
    background-image: url("/src/assets/images/home.jpg");
}